STORE_CORS=http://localhost:8000,http://localhost:3000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,http://localhost:3000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me_in_production
COOKIE_SECRET=change_me_in_production
AUTH_MFA_ENCRYPTION_KEY=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/kim_nhung_medusa
DB_NAME=kim_nhung_medusa
